.small-button {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.button-list {
  display: flex;
  gap: 2.4rem;
}

.crew-info {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 3rem;
}

.crew-title {
  align-self: start;
}

.crew-name {
  font-size: 6.4rem;
}

.crew-img-container {
  align-self: end;
}
