img {
  height: 16rem;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.country-card {
  display: grid;
  border-radius: 4px;
  grid-template-rows: 1fr 17rem;
  padding-inline: 3rem;
  padding-block-end: 3rem;
  &:hover {
    cursor: pointer;
  }
}

.country-infos {
  color: var(--text-color);
  background-color: var(--background-element);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 2.5rem;

  .country-title {
    font-weight: 800;
    font-size: 1.8rem;
    padding-block-end: 2rem;
  }

  .country-subinfo {
    display: grid;
    grid-template-rows: repeat(3, 2.4rem);
  }

  span {
    font-size: 1.4rem;
  }

  label {
    font-weight: 600;
  }
}

.country-flag {
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .country-card {
    padding-inline: 0rem;
    padding-block-end: 0rem;
  }
}
