.destination-spacing {
  margin-top: 1.2rem;
}

.destination--image {
  max-width: 50%;
  margin-block: 3.2rem;
}

.destination-nav {
  justify-content: center;
  margin-bottom: 2rem;
  li {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
}

.destination--info {
  justify-content: center;
  flex-flow: column;
  align-items: center;
  padding-bottom: 5rem;
}

.destination--description {
  max-width: 50ch;
  padding-inline: 1.6rem;
}

.separator {
  margin-block: 3.2rem;
  width: 100%;
  background-color: #383b4b;
  height: 1px;
}

@media (min-width: 35rem) {
  .destination--title {
    justify-self: start;
    align-self: end;
    padding-top: 3rem;
    padding-inline-start: 4rem;
  }

  .destination--info {
    justify-content: space-between;
    flex-flow: row;
    gap: 7.6rem;
  }

  hr {
    width: 100%;
    margin-bottom: 2.8rem;
    margin-top: 5.4rem;
  }
}

@media (min-width: 45rem) {
  .destination-nav {
    justify-content: start;
    list-style: none;
    letter-spacing: 0.27rem;
    border: 0;
    color: hsl(0 0 100% / 1);
    li {
      padding-block: 0 2rem;
      cursor: pointer;
      &:not(.destination-active):hover {
        border-bottom: 0.5rem solid hsl(0 0 100% / 0.5);
        border-color: hsl(0 0 100% / 0.5);
      }
      gap: 4rem;
      font-size: 1.6rem;
      line-height: 1.9rem;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .destination-active {
    border-bottom: 0.5rem solid hsl(0 0 100% / 0);
    border-color: hsl(0 0 100% / 1);
  }

  .destination--image {
    max-width: 100%;
    grid-column: 2;
  }

  .destination--title {
    grid-column: 2 / span 2;
  }

  .destination--description {
    padding-inline: 0;
  }

  .separator {
    margin-block: 5.4rem 2.8rem;
  }
}
