.destination-spacing {
  margin-top: 1.2rem;
}

.destination--image {
  max-width: 50%;
  margin-block: 3.2rem;
}

.destination-nav {
  justify-content: center;
  margin-bottom: 2rem;
  li {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
}

.destination--info {
  justify-content: center;
  flex-flow: column;
  align-items: center;
  padding-bottom: 5rem;
}

.destination--description {
  max-width: 50ch;
  padding-inline: 1.6rem;
}

hr {
  margin-block: 3.2rem;
  width: 90%;
  color: #383b4b;
  height: 1px;
}

@media (min-width: 35rem) {
  .destination--title {
    justify-self: start;
    align-self: end;
    padding-top: 3rem;
    padding-inline-start: 4rem;
  }

  .destination--info {
    justify-content: space-between;
    flex-flow: row;
    gap: 7.6rem;
  }

  hr {
    width: 100%;
    margin-bottom: 2.8rem;
    margin-top: 5.4rem;
  }
}

@media (min-width: 45rem) {
  .destination-nav {
    justify-content: start;
    list-style: none;
    padding-bottom: 3.5rem;
    letter-spacing: 0.27rem;
    li {
      &:hover {
        cursor: pointer;
      }
      gap: 4rem;
      font-size: 1.6rem;
      line-height: 1.9rem;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .destination--image {
    max-width: 100%;
    grid-column: 2;
  }

  .destination--title {
    grid-column: 2 / span 2;
  }
}
