.technology-title {
  grid-column: 2 / span 2;
}

.list-item {
  gap: 3rem;
  border: 1px solid hsl(0 0 100% / 0.5);
  border-radius: 50%;
  aspect-ratio: 1;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-item-active {
  border: none;
  color: black;
}

.technology-image {
  display: none;
}

.technology-name {
  margin-block: 1.1rem 1.7rem;
}

.technology-list-container {
  grid-column: 2;
  display: grid;
  gap: 5rem;
}

.technology-list {
  display: flex;
  justify-content: center;
  gap: 2.6rem;
}

.technology-info {
  text-align: center;
  p {
    max-width: 50ch;
  }
  margin-bottom: 5rem;
}

.technology-info-title {
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.27rem;
}

.technology-image--full-width {
  display: block;
  grid-column: 2;
  margin-block: 3.2rem;
}

.technology--description {
  padding-inline: 2rem;
}

@media (min-width: 35em) {
  .technology-title {
    grid-column: 2 / span 2;
    justify-self: start;
    align-self: end;
    padding-top: 3rem;
    padding-inline-start: 4rem;
  }
}

@media (min-width: 45em) {
  .technology-list {
    flex-flow: column;
    padding-inline-start: 4rem;
    > .list-item {
      cursor: pointer;
      height: 8rem;
    }
  }

  .technology-image {
    display: grid;
    grid-column: 3 / span 2;
    max-width: 100%;
    justify-self: end;
    align-self: start;
  }

  .technology-image--full-width {
    display: none;
  }

  .technology-list-container {
    grid-template-columns: max-content 1fr;
    width: 100%;
  }

  .grid--technology {
    grid-template-columns: minmax(0, 10rem) 1fr minmax(30rem, max-content) 0;
  }

  .technology-info {
    text-align: left;
  }

  .technology--description {
    padding-inline: 0;
  }
}
