button {
  padding: 1rem 4rem;
  border-radius: 4px;
  color: var(--input-color);
  background-color: var(--background-element);
}

img {
  height: 400px;
  max-width: 100%;
}

span {
  color: var(--text-color);
  font-size: 1.6rem;
  padding-block: 1rem;
  font-weight: 600;
}

.country-image {
  display: flex;
  justify-content: center
}

.button {
  border: none;
  box-shadow:0 0 5px var(--button-shadow);
}

.country-detail-container {
  display: grid;
  grid-template-columns: minmax(30vw, 1fr) 1fr;
  gap: 16rem;
}

.country-detail {
  display: grid;
  padding-block-start: 16rem;
}

.country-title {
  display: block;
  font-weight: 800;
  font-size: 4rem;
  padding-block: 4rem;
}

.country-subinfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
  .full-width {
    grid-column: 1 / 2;
  }
}

.border-wrapper {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.country-border {
  padding: 0.8rem 2rem;
  border-radius: 4px;
}

.country-info-value {
  font-weight: 400;
}

.border-country-label {
  color: var(--input-color);
}
