<div class="grid-container">
  <div class="padding-bottom">
    <h1 class="uppercase heading-5 text-white">So, you want to travel to
    <span class="heading-1 heading-padding text-white">Space</span></h1>
    <p class="body-typo text-white">Let’s face it; if you want to go to space, you might as well genuinely go to 
    outer space and not hover kind of on the edge of it. Well sit back, and relax 
    because we’ll give you a truly out of this world experience! </p>
  </div>
  <div class="padding-bottom">
    <a href="/destination" class="large-button uppercase heading-4 text-black bg-white">Explore</a>
  </div>
</div>