.large-button {
  font-size: 2.4rem;
  position: relative;
  z-index: 1;
  display: inline-grid;
  place-items: center;
  padding: 2rem;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
}

.large-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
  opacity: 1;
  transform: scale(1.3);
}

.heading-padding {
  display: block;
  padding-block: 1.6rem;
}

.main-text {
  padding-inline: 2.4rem;
}

@media (min-width: 45em) {
  .heading-padding {
    display: block;
    padding-block: 2.4rem;
  }

  .large-button {
    padding: 4rem;
    font-size: 3.2rem;
  }

  .grid-container--main-page {
    align-items: end;
  }

  .padding-bottom {
    padding-bottom: max(6rem, 20vh);
  }
}
