.main-header {
  color: var(--text-color);
  padding-inline: 5rem;
  border-bottom: var(--Background-color) solid 1px;
  background-color: var(--background-element);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  font-weight: 800;
  font-size: 2.4rem;
}

.header-right {
  font-weight: 600;
  font-size: 1.6rem;
  padding-inline: 1rem;
  &:hover {
    border-radius: 4px;
    background-color: lightgrey;
    cursor: pointer;
  }
}

.header-item {
  padding-block: 2rem;
}

.theme-label {
  padding-inline: 1rem;
}
