.main-header {
  color: var(--text-color);
  padding-inline: 5rem;
  border-bottom: lightgrey solid 1px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  font-weight: 800;
  font-size: 2.4rem;
}

.header-right {
  font-weight: 600;
  font-size: 1.6rem;
}

.header-item {
  padding-block: 2rem;
}
