.list-items {
  display: grid;
  font-size: 1.4rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 7rem;
  padding-inline: 8rem;
  padding-block: 14rem;
  background-color: var(--background-color);
}

.list-filter {
  grid-column: 1 / 5;
}
