.slide-in {
  animation-name: slideIn;
  animation-duration: 800ms;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 2000ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}