@import "./assets/reset.scss";
@import './assets/country_list.scss';

/********************************
    Space tourism web project
********************************/

html {
  height: 100%;
  width: 100%;
  font-size: 62.5%; // For easy use of rem
}

body {
  min-height: 100vh;
  display: grid;
}

img {
  max-width: 100%;
}

.font-bellefair {
  font-family: "Bellefair", sans-serif;
}

.font-barlow {
  font-family: "Barlow Condensed", sans-serif;
}

.main-nav {
  font-family: "Barlow Condensed", sans-serif;
}

/* Utilies classes */

.flex {
  display: flex;
  gap: 2rem;
}

.text-white {
  color: white;
}

.bg-white {
  background-color: hsl(0 0% 100%);
}

.text-black {
  color: black;
}

.text-light {
  color: hsla(231, 77%, 90%, 1);
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-25 {
  opacity: 0.25;
}

.body-typo {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.uppercase {
  text-transform: uppercase;
}

.heading-1 {
  font-size: 8rem;
  line-height: 10rem;
  font-family: "Bellefair", sans-serif;
}

.heading-2 {
  font-size: 5.6rem;
  line-height: 6.4rem;
  font-family: "Bellefair";
}

.heading-3 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-family: "Bellefair";
}

.heading-4 {
  font-size: 2rem;
  font-family: "Bellefair";
}

.subheading-2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 0.23625rem;
}

.heading-5 {
  font-size: 1.6rem;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.27rem;
  font-weight: 400;
}

.subheading-1 {
  font-size: 2.8rem;
}

/* layout */
.d-block {
  display: block;
}

.grid-container {
  text-align: center;
  display: grid;
  place-items: center;
  padding-inline: 1rem;
  height: 100%;
}

.background {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
  background-size: cover;
  background-position: center center;
}

.background--main {
  background-image: url("./assets/img/home/background-home-mobile.jpg");
}

.background--destination {
  background-image: url("./assets/img/destination/background-destination-mobile.jpg");
}

.background--crew {
  background-image: url("./assets/img/crew/background-crew-mobile.jpg");
}

.background--technology {
  background-image: url("./assets/img/technology/background-technology-mobile.jpg");
}

@media (min-width: 35em) {
  .background--main {
    background-image: url("./assets/img/home/background-home-tablet.jpg");
  }

  .background--destination {
    background-image: url("./assets/img/destination/background-destination-tablet.jpg");
  }

  .background--crew {
    background-image: url("./assets/img/crew/background-crew-tablet.jpg");
  }

  .background--technology {
    background-image: url("./assets/img/technology/background-technology-tablet.jpg");
  }
}

@media (min-width: 35em) and (max-width: 55em) {
  .grid-container * {
    max-width: 80ch;
  }
}

@media (min-width: 45em) {
  .grid-container {
    column-gap: 4rem;
    text-align: left;
    grid-template-columns:
      minmax(1rem, 1fr)
      repeat(2, minmax(0, 50rem))
      minmax(1rem, 1fr);
  }

  .grid-container > *:first-child {
    grid-column: 2;
  }

  .grid-container > *:last-child {
    grid-column: 3;
  }

  .heading-1 {
    font-size: 15rem;
    line-height: 17rem;
  }

  .heading-2 {
    font-size: 10rem;
    line-height: 14rem;
  }

  .heading-3 {
    font-size: 5.6rem;
    line-height: 6rem;
  }

  .heading-4 {
    font-size: 3.2rem;
    line-height: 3.5rem;
  }

  .heading-5 {
    font-size: 2.8rem;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 0.475rem;
    font-weight: 400;
  }

  .subheading-1 {
    font-size: 2.8rem;
  }

  .subheading-2 {
    font-size: 1.4rem;
    letter-spacing: 0.235rem;
  }

  .body-typo {
    font-size: 1.8rem;
    line-height: 3.2rem;
  }

  .background--main {
    background-image: url("./assets/img/home/background-home-desktop.jpg");
  }

  .background--destination {
    background-image: url("./assets/img/destination/background-destination-desktop.jpg");
  }

  .background--crew {
    background-image: url("./assets/img/crew/background-crew-desktop.jpg");
  }

  .background--technology {
    background-image: url("./assets/img/technology/background-technology-desktop.jpg");
  }

  /**LAYOUT / SPACING**/
  .margin-l-3 {
    margin-left: 1.5rem;
  }
  .margin-r-1 {
    margin-right: 1rem;
  }
}

